asgiref
asttokens
backcall
beautifulsoup4
boto3
botocore
bs4
certifi
charset-normalizer
da-vinci
decorator
dj-database-url
Django
django-cockroachdb
django-environ
django-extensions
django-restframework
django-storages
djangorestframework
djangorestframework-simplejwt
easy-thumbnails
executing
gunicorn
idna
ipython
jedi
jmespath
lxml
matplotlib-inline
parso
pexpect
pickleshare
Pillow
prompt-toolkit
psycopg2
ptyprocess
pure-eval
Pygments
PyJWT
python-dateutil
pytz
requests
s3transfer
shortuuid
six
soupsieve
sqlparse
stack-data
termcolor
traitlets
Unidecode
urllib3
wcwidth
