asgiref
asttokens
backcall
beautifulsoup4
bs4
certifi
charset-normalizer
da-vinci
decorator
Django
django-extensions
django-restframework
djangorestframework
djangorestframework-simplejwt
easy-thumbnails
executing
gunicorn
idna
ipython
jedi
lxml
matplotlib-inline
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pure-eval
Pygments
PyJWT
pytz
requests
shortuuid
six
soupsieve
sqlparse
stack-data
termcolor
traitlets
Unidecode
urllib3
wcwidth
