{% extends 'blog_base.html' %}
{% load i18n %}
{% block content %}	
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="prform">
                <form method="POST">
                    <div class="info">{% trans 'Enter username or email address associated with your account' %}</div>
                    {{form.email}}
                    {% csrf_token %}
                    <input style="padding-top: ;margin-top: 20px;" type="submit" value="{% trans 'send request' %}">
                </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}

{% block mymyscript %}	
<script>
    // $('#footer').css('margin-top', $(document).height() - $('html').height())
</script>
{% endblock %}

{% block style2 %}	
<style>
    #id_email {
        background: transparent;
        border: 1px solid var(--my-text-color);
        color: var(--my-text-color);
        padding: 5px;
        border-radius: 7px;
    }
    
    #id_email:focus {
        outline: none;
    }
</style>

{% endblock %}